/* Styles for borders */

.productsTable {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.productsTable td {
    border: solid 2px #e5e7eb;
    padding: 10px;

    border-left-style: none;
    border-right-style: none;

    border-top-style: solid;
    border-bottom-style: solid;
}

.productsTable tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-style: solid;
}

.productsTable tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right-style: solid;
}

/* Styles for sizes */

.productsTable {
    width: 100%;
    table-layout: auto;
    max-width: none;

    text-align: center;
}

.productsTable td:nth-child(1) {
    padding-left: 30px;
    width: 15px;
}

.productsTable td:nth-child(2) {
    width: 30px;
}

.productsTable td:nth-child(3) {
    width: 20px;
}

.productsTable td:nth-child(4) {
    width: 60px;
}

.productsTable td:nth-child(5) {
    width: 80px;
}

.productsTable td:nth-child(6) {
    width: 10px;
}

.productsTable td:nth-child(7) {
    padding-left: 30px;
    width: 60px;
}

.productsTable td:nth-child(8) {
    width: 60px;
}

.productsTable td:nth-child(9) {
    width: 60px;
}

.productsTable td:nth-child(10) {
    width: 100px;
}

.productsTable td:nth-child(11) {
    width: 120px;
}

.productsTable td:nth-child(12) {
    padding-right: 30px;
    width: 20px;
}
